.gallery{
    margin-bottom: 150px;
}
.gallery__container-heading {
    margin: 0 auto;
    margin-bottom: 100px;
}
.gallery__container-heading p{
    background: #FFFFFF;
    border-radius: 5px;
}
.gallery__container-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.image{
    /* width: 306px; */
    position: relative;
    overflow: hidden;
    padding: 12px;
}
.image div{
    position: absolute;
    left: calc(50% - 25px);
    top: -100px;
}
.image .photo{
    width: 306px;
}
.image:hover .photo{
    opacity: .3;
}
.image:hover div{
    top: calc(50% - 25px);
    transition: .4s;
}


@media (max-width: 1280px){
    .gallery__container-heading{
        margin-bottom: 60px;
    }
   
    .gallery__container-content .image{
        padding: 10px;
    }

}

@media (max-width: 780px){
    .image .photo{
        width: 240px;
    }
}
@media (max-width: 540px){
    .image .photo{
        width: 210px;
    }
}
@media (max-width: 480px){
    .image .photo{
        width: 150px;
    }
}